/* Profile Container */
.profile {
    flex: 1;
  }
  
  /* Profile Header */
  .profile--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Edit Button */
  .edit {
    background-color: #dde6ed;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    color: #526d82;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit .icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
  
  .edit:hover {
    background-color: #b3c8db;
  }
  
  /* User Profile Section */
  .user--profile {
    height: auto;
    margin-top: 2rem;
    background-color: #e0ecff; /* Updated to match IQAC Team Head box color */
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  /* User Detail */
  .user--detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .user--detail img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user--detail .username {
    color: #526d82;
    font-size: 1.5rem;
  }
  
  /* User Courses Section */
  .user-courses {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }
  
  /* Course Item */
  .course {
    background-color: #dde6ed;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
  }
  
  .course .course-detail {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .course-cover {
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .course .duration {
    font-size: 0.9rem;
  }
  
  .course .action {
    font-weight: bold;
    font-size: 1rem;
  }
  
  /* Profession Text */
  .profession {
    color: #969393;
  }
  